<% content_for(:title, t('.title')) %>
<div class="scroll-box">
 <div class="scroll-content">
  <h1>使い方ガイド</h1>
     <h2>商品登録方法</h2>
      <p>商品を登録するには上部にある<span>商品登録</span>を押していただいた後に、必須と書かれている部分に入力したい商品・食材の情報を入力して下さい。</p>
      <p>テンプレートの使用を押していただくと一部のすでに作成された商品・食材を入力してくれます。</p>
      <p>登録ボタンを押していただくと<span>商品一覧</span>にて登録したものが表示されます。</p>
      <div class="image">
        <%= image_tag asset_path('register_apple'), size: '420x320' %>
      </div>
     <h2>商品一覧ページ</h2>
       <p>商品一覧ページではデフォルトに状態では賞味期限切れを含めた食材・商品が表示されます。(賞味期限切れの商品・食材が上に表示されます。)</p>
       <p>賞味期限の横に書かれている<span>ソート</span>を押していただくと賞味期限が遠い、近い順に変更できます。</p>
       <p>賞味期限切れのボタンを押していただくと、賞味期限が切れたものだけ表示します。</p>
       <p>商品名と概要からの検索もできるようにしています。</p>
       <p>商品・食材の数を減らしたいときは数字の周りに存在する+とーボタンを押していただくと数を1つづつ増やしたり減らしたりできます。</p>
       <div class="image">
         <%= image_tag asset_path('showing_items'), size: '420x320'%>
       </div>
     <h2>買い物リスト<h2>
     
 </div>
</div>