<% content_for(:title, t('.title')) %>
<div class="scroll-box">
 <div class="scroll-content">
  <h1>使い方ガイド</h1>
     <h2>商品登録方法</h2>
      <p>商品を登録するには上部にある<span>商品・食材登録</span>を押していただいた後に、<span>★</span>と書かれている部分に入力したい商品・食材の情報を入力して下さい。</p>
      <p>テンプレートの使用を押していただくと一部のすでに作成された商品・食材を入力してくれます。</p>
      <p>登録ボタンを押していただくと<span>冷蔵庫の中身</span>にて登録したものが表示されます。</p>
      <div class="image">
        <%= image_tag asset_path('register_items'), size: '420x320' %>
      </div>
     <h2>冷蔵庫の中身</h2>
       <p>冷蔵庫の中身では賞味期限切れを含めずに食材・商品が表示されます。</p>
       <p>賞味期限が近い順、または遠い順にするには<span>並び替え</span>を押して下さい。</p>
       <p><span>賞味期限切れ</span>ボタンを押していただくと、賞味期限が切れたものだけ表示します。</p>
       <p>商品名と書かれている検索欄から検索できるようにしています。</p>
       <p>商品・食材の数を減らしたいときは数字の周りに存在する+とーボタンを押していただくと数を1ずつ増やしたり減らしたりできます。</p>
       <div class="image">
         <%= image_tag asset_path('showing_items'), size: '480x220'%>
       </div>
     <h2>買い物リスト<h2>
       <p>買い物リストでは最大同時に10種類の商品を登録できます。</p>
       <p><span>買い物リストに追加</span>のボタンをクリックしていただくと買い物リストに商品を追加するページに飛びます。</p>
       <div class="image">
        <%= image_tag asset_path('shoppinglists'), size: '420x320'%>
       </div>
       <p>買い物リストでは商品名の左にあるチェックボックスをクリックして、<span>チェック済みを削除</span>を押していただくとチェックを入れた商品全て削除できます</p>
     <h2>LINE連携について</h2>
       <p>ヘッダーから<span>アカウント設定</span>をクリックして<span>LINEに連携する</span>ボタンを押すとご自身のLINEアカウントと接続できます</p>
       <p>expired-foods公式アカウントを友だち登録してこちらのウェブサイトに登録している商品名を入力すると、その商品・食材の情報(総数、メモ)を返信してくれます。</p>
 </div>
</div>