<div class='top-wrapper'>
   <div class='top-inner-text'>
     <div class="h1 fadeIn">expired foods</div>
   </div>
</div>
 <!-- Photo Area Wrapper -->
<div class="second-wrapper">
  <div class="second-inner-text">
    <div class="flex">
      <div class="image">
        <%= image_tag asset_path("register_items.png"), alt: "食材リスト", class: "img" %>
        <div class="text">
          <h2>冷蔵庫の中身を投稿</h2>
           <p>食材をもう忘れない</p>
           <p>忘れがちな賞味期限を守ろう！！</p>
        </div>
      </div>
      <div class="image">
        <%= image_tag asset_path("line_bot.png"), alt: "LINEbotの内容", class: "img" %>
        <div class="text">
          <h2>LINE連携</h2>
           <p>登録されている商品・食材を表示！！</p>
        </div>
      </div>
      <div class="image">
        <%= image_tag asset_path("shoppinglists.png"), alt: "買い物リストの内容", class: "img" %>
        <div class="text">
          <h2>買い物リスト</h2>
           <p>買い物リストのあります</p>
        </div>
      </div>
    </div>
  </div>
</div>