<div class='top-wrapper'>
   <div class='top-inner-text'>
     <div class="h1 fadeIn">expired foods</div>
   </div>
</div>
 <!-- Photo Area Wrapper -->
<div class="second-wrapper">
  <div class="second-inner-text">
   <h1 class="section_title">Expired-foodsについて</h1>
   <h2>冷蔵庫の中身がごちゃごちゃになることを防ぎ、中身を記録するアプリです。</h2>
   <h2>LINEと同期すれば、賞味期限を知らせてくれます。</h2>
   <h2>ユーザーは登録はこちらからお願いします</h2>
   <%= link_to t('defaults.enroll'), sign_up_path, class: 'green_button' %>
  </div>
</div>


