<div class="box2">
  <p>LINEが連携されました。</p>
  <p>以下のボタンからホーム画面にお戻り下さい</p>
  <div style="text-align:center">
   <%= link_to t('.return_to_home_page'), root_path, class: 'btn btn-primary' %>
  </div>
</div>