<div class="footer">
    <ul>
      <li class="nav-item">
        <%= link_to t('defaults.inquiry'), new_inquiry_path, class: "link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('defaults.term_of_use'), term_of_use_path, class: "link" %>
      </li>
      <li class="nav-item">
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: "link" %>
      </li>
    </ul>
  <p class="copyright">© 2023 this is created by expired-foods</p>
</div>