<div class="footer bg-dark">
  <div class="footer-inner">
      <li class="nav-item">
        <%= link_to 'expired foods', root_path, class: "nav-item" %>
      </li>
    <ul>
      <li class="nav-item">
        <%= link_to 'お問い合わせ', '#' %>
      </li>
      <li class="nav-item">
        <%= link_to '利用規約', '#' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Privacy Policy', '#' %>
      </li>
    </ul>
  </div>
  <hr>
  <p class="copyright bg-white">© 2023 this is created by individual</p>
</div>