<div class="footer">
    <ul>
      <li class="nav-item">
        <%= link_to 'お問い合わせ', new_inquiry_path %>
      </li>
      <li class="nav-item">
        <%= link_to '利用規約', term_of_use_path %>
      </li>
      <li class="nav-item">
        <%= link_to 'Privacy Policy', privacy_policy_path %>
      </li>
    </ul>
  <p class="copyright">© 2023 this is created by individual</p>
</div>