<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">商品一覧</h3>
      <div class="ul list-inline">
        <li>
          <%= link_to '商品追加', new_item_path, class: 'btn btn-primary' %>
               <label for="item-sort">賞味期限:</label>
                <select id="item-sort-select">
                 <option value="default">ソート</option>
                 <option value="latest">遠い順</option>
                 <option value="expired">近い順</option>
                </select>
          <h1 style="text-align: center">全<%= @tag.items.count %>件</h1>
          <div class="item-tag"></div>
        </li>
      </div>
    </div>
      <% if @tags.present? %>
        <%= render 'tag', tag: @tag %>
      <% end %>
  </div>
</section>