<div class="content">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card-label">
        <div class="card-header">
          <span><%= t('.add_shopping_lists') %></span>
        </div>
          <div class="shoppinglist-reginster">
            <%= render 'shopping_lists' %>
          </div>
      </div>
    </div>
  </div>
</div>
