/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 @import "top";
 @import "sessions";
 @import "items";
 @import "shopping_lists";
 @import "static_pages";
 @import "bootstrap";
 @import "font-awesome";
 
.relative-header {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.main {
  flex: 1;
}

.flex-footer {
  width: 100%;
  text-align: center;
  background-color: black;
  padding: 30px;
  position: absolute;
  bottom: 0;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .web-name{
    color: white;
  }

  .copyright{
    color: white;
  }
}