/*
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";
 @import "static_pages";
 @import "top";
 @import "sessions";
 @import "items";
 @import "shopping_lists";

 @import "admin";
 
.relative-header {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  background-color: #FFFFEE;
}

.main {
  flex: 1;
}

.flex-footer {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .link {
    text-decoration: none;
    color: white;
  }

  .web-name{
    color: white;
  }

  .copyright{
    color: white;
  }

  @media (max-width: 768px) {
    ul{
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}