// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
*= require_self
*/

.item-box {
    padding :5px;
    margin :5px;
    overflow-y: scroll;

    li{
        list-style: none;
    }
}

.card-body{
    display: flex;

    .item-info {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.item-action {
    margin: 0 10px;
}

.line-center{
    padding: 0 10px;
}

.box1 {
    border:solid 2px #A5A19A;
    width: 700px;
    height: 710px;
}

.box2 {
    margin: 1em auto;
    padding: 1em;
    border:solid 2px black;
    background-color: silver;
}

.required-field{
    position: relative;
    left: 5px;
}

.required-icon::after{
    color: red;
    top: 0;
    right: 0px; 
}