/*
*= require_self
*/

.box-password-reset {
    width: 520px;
    margin: 1em auto;
    padding: 1em;
    border:solid 2px black;
    background-color: #EEEEEE;
    font-size: 18px;
}

@media screen and (max-width: 480px){
    .box-password-reset {
        width: 380px;
        margin: 1em auto;
        padding: 1em;
        border:solid 2px black;
        background-color: #EEEEEE;
        font-size: 18px;
    }
}