// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require_self
 */

.content{
    width: 100%;

    .table{
        width: 100%;
    }
}
.card-body {
    .form-size {
        width: 330px;
        padding: 5px;

        .form-control{
            width: 330px;
        }
    }
}

@media screen and (max-width: 480px){

    .table{
        width: 95%;
    }

    .card-body{
        .form-size{
            width: 250px;
            font-size: 16px;
            padding: 5px;

            .form-control {
                width:250px;
            }
        }
    }
}