// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require_self
 */
.pot{
  width: 100%;
  height: 80vh;
}

.card-info {
  width: 470px;
  padding: 10px;
  background-color: #DDDDDD;

  .form-control {
    width: 440px;
  }

  .text-center {
    margin: 10px;
  }

  .button-center {
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
}

.required-icon::after{
  content: '★';
  color: red;
}

.btn-login{
  display: inline-block;
  background-color: #005FFF;
  height: 40px;
  color: #fff;
  padding: 10px 60px 10px 60px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.btn-guest{
  display: inline-block;
  background-color: #FF6928;
  height: 40px;
  color: #fff;
  padding: 10px 40px 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
}

.line-login-button {
    display: inline-block;
    background-color: #06C755;
    height: 40px;
    color: #fff;
    padding: 10px 20px 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    border-left:1px solid #000000;
    background-image: image-url("btn_line_base.png");
    background-repeat: no-repeat;
  }
  /* LINEログインボタンのレスポンシブデザイン */
  @media (max-width: 768px) {
    .line-login-button {
    height: 40px;
    color: #fff;
    padding: 10px 20px 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    }
  }
