// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require_self
 */
.card-info{
    margin:5px;
    background-color: silver;
}
.pot{
    background-color: #D7EEFF;
    width: 100%;
    height: 700px;
}

.required-field{
  position: relative;
}

.required-icon::after{
  content: '必須';
  color: red;
  position: relative;
  top: 0;
  right: 0px;
}

.line-login-button {
    display: inline-block;
    background-color: #06C755; /* LINEのブランドカラー */
    color: #fff;
    padding: 10px 20px 10px 50px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left:1px solid #000000;
    background-image: image-url("btn_line_base.png");
    background-repeat: no-repeat;
  }

  /* LINEログインボタンのレスポンシブデザイン */
  @media (max-width: 768px) {
    .line-login-button {
      font-size: 14px; /* モバイルデバイス用のフォントサイズ */
      padding: 8px 16px; /* モバイルデバイス用のパディング */
    }
  }
