// Place all the styles related to the ShoppingLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*
 *= require_self
*/
.content-list {
    padding: 5px;
    margin: 5px;
    overflow-y: scroll;

    .button-lists {
        float: left;
        margin: 6px;
    }
}
  //ショッピングリストのスマホ用
@media screen and (max-width: 768px){
    .content-list{
    overflow-y: scroll;
    height: 760px;
    font-size: 16px;
    }

    .content {
        overflow-y: scroll;
        padding: 5px;
        margin: 5px;
        height: 760px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px){
    .content-list{
        overflow-y: scroll;
        height: 500px;
        font-size: 16px;
    }

    .content{
        margin: 5px;
        padding-bottom: 13px;
        overflow-y: scroll;
        height: 600px;
        font-size: 16px;

        .table{
            width: 10px;

            .form-control {
                width: 10px;
            }

            .form-number{
                width:5px;
            }
        }
    }
}

.edit-box {
    width: 250px;
    margin: 1em auto;
    padding: 1em;
    border:solid 2px black;
    background-color: #EEEEEE;

    .form-control{
        width: 200px;
    }
}

.shoppinglist-reginster {
    border: solid 1px #FFF;
    position: relative;

    .required-field {
        position: relative;
    }

    .required-icon::after {
        content: '★';
        color: red;
        position: relative;
        top: 0;
        right: 0px;
    }
}