// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-scrollbar {
    width: 750px; // スクロール領域の幅を設定
    height: 780px; // スクロール領域の高さを設定
    overflow: hidden; // スクロールバーを非表示にする
    margin: 0 auto;

    .scroll-content {
        width: 70%;
        height: 70%;
        padding: 10px 10px;
        overflow: auto; // コンテンツがスクロール可能になるようにする
    }
}