/*
//= require_self
*/
.top-wrapper {
  background-image: image-url("top.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  
    .top-inner-text {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      color: #3399FF;
  
      @media screen and (max-width: 767px) {
        font-size: 2.0rem;
      }

      .fadeIn{
        animation-name:fadeInAnime;
        animation-duration:2s;
        animation-fill-mode:forwards;
        opacity:0;
      }
    }
  }

.second-wrapper {
    background-color: #D7EEFF;
    background-size: cover;
    width: 100%;
    height: 700px;
  }

  .second-inner-text {
    padding: 10px;
    margin: 10px;
  }

  .flex {
    display: flex;
  }

  .image {
    padding: 5px;
  }

  .right-image {
    float :right;
    padding: 5px;
  }

  .img {
    width: 80%;
    height: 65%;
  }

  .text {
    margin: 10px 10px 10px 10px;
    padding: 0;
  }

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.green_button{
  color: #FFF;
  padding: 10px 20px;
  border: none;
  background: green;
  text-align: center;
}