/*
 *= require_self
 */
.card-content {
  width: 400px;

  .form-control {
      width: 250px;
  }

  .text-center {
      margin: 5px;
  }
  .button-center {
      margin: 5px;
      display: center;
  }
}

.table{
    margin: 5px;
    background-color: silver;
}

.user-info-box {
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 700px;
}