<div class="container">
  <h2 class="my-3 ml-3 heading">
    <div style="text-align:center">お問い合わせ完了</div>
  </h2>
  <div class="row">
    <div class="col-sm-10 mx-auto text-center mt-3">
      <h3 class="mb-5">お問い合わせありがとうございました</h3>
      <p>
        確認メールを送信させて頂きましたので、<br>
        ご確認ください。見覚えのない場合は、削除して下さい。
      </p>
      <div class="d-flex justify-content-center mb-5">
        <%= link_to t('defaults.return_to_top_page'), root_path, class:'btn btn-info mb-5 mt-3' %>
      </div>
    </div>
  </div>
</div
